.main  {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-top: 50px;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  
  .card1  {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whatsapp {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #00ff00;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .linkedin {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #0077b5;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .github {
    margin-top: -0.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .discord {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #00ff00;
  }
  
  .card1:hover .whatsapp {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
  }
  
  .card2:hover .linkedin {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  }

  @media screen and (max-width:880px) {
    .main {
      margin-top: 15px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
      width : 60px;
      height: 60px;
    }

    .whatsapp {
      width : 35px;
      height : 35px;
      margin-top: 1em;
      margin-left: 1em;
    }
    .linkedin {
      width : 30px;
      height : 30px;
      margin-top: 1em;
      margin-left: -0.5em;
    }
    .github {
      width : 35px;
      height : 35px;
      margin-top: 0em;
      margin-left: 1em;
    }
    .discord {
      width : 35px;
      height : 35px;
      margin-top: 0em;
      margin-left: -0.4em;
    }

  }
  