.logo-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin: 0 auto; // Pour centrer le conteneur
}

.central-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px; // Ajustez la taille du cercle central
  height: 120px; // Ajustez la taille du cercle central
  background-color: #fff; // Couleur du cercle central
  border-radius: 50%; // Pour créer un cercle
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    font-size: 20px; // Ajustez la taille du texte
    color: #333; // Couleur du texte
    text-align: center;
  }
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px; // Ajustez la largeur de l'anneau
  height: 300px; // Ajustez la hauteur de l'anneau
  border: 10px solid #333; // Couleur de l'anneau
  border-radius: 50%; // Pour créer un anneau
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px; /* Ajustez la taille de l'image selon vos besoins */
  height: 100px; /* Ajustez la taille de l'image selon vos besoins */
  border-radius: 50%; /* Pour créer un cercle */
  overflow: hidden;
  background-color: white; /* Couleur de fond noire */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  
}



.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.logo-1 { transform: rotate(0deg) translateX(80px) translateY(20px); }
.logo-2 { transform: rotate(0deg) translateX(-180px) translateY(20px); }
.logo-3 { transform: rotate(0deg) translateX(-50px) translateY(-200px); }

.text-descriptif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8); /* Fond avec opacité */
  padding: 50px;
  border-radius: 50px;
  opacity: 0; /* Définir l'opacité initiale à 0 */
  transition: opacity 0.3s ease; /* Ajouter une transition pour une apparition en douceur */
}

.logo:hover .text-descriptif {
  opacity: 1; /* Afficher le texte descriptif au survol */
}

@media screen and (max-width:768px) {
  .logo-container {
    height: 45vh;
  }

  .central-point {
    width : 90px;
    height : 90px;
    p {
      font-size: 15px;
    }
  }

  .ring {
    width : 200px;
    height : 200px;
  }

  .logo {
    width: 75px;
    height : 75px;
  }

  .logo-1 { transform: rotate(0deg) translateX(55px) translateY(20px); }
  .logo-2 { transform: rotate(0deg) translateX(-130px) translateY(20px); }
  .logo-3 { transform: rotate(0deg) translateX(-35px) translateY(-150px); }

  .text-descriptif {
    font-size: 14px;
  }
  
}
@media screen and (max-width:425px) {
  .logo-container {
    height: 40vh;
  }

  .central-point {
    width : 70px;
    height : 70px;
    p {
      font-size: 13px;
    }
  }

  .ring {
    width : 150px;
    height : 150px;
  }

  .logo {
    width: 65px;
    height : 65px;
  }

  .logo-1 { transform: rotate(0deg) translateX(35px) translateY(20px); }
  .logo-2 { transform: rotate(0deg) translateX(-100px) translateY(20px); }
  .logo-3 { transform: rotate(0deg) translateX(-35px) translateY(-115px); }

  .text-descriptif {
    font-size: 12px;
  }
  
}