.text-wrapper {
    @include flex-use (row, flex-start, flex-start);
    overflow: hidden;
    
}

.infinittext  {
    font-size: 30px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.1px;
    padding: 0 6rem;
    white-space: nowrap;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%)
    }
}