.contact {
    height: 80vh;
    background: linear-gradient(to bottom, rgb(30, 30, 30), rgba(255, 255, 255, 0.9));
}

@media screen and (max-width:880px) {
    .contact {
        height: 130vh;
    }
}