
.footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    color : white;
    height: 10vh;
}

@media screen and (max-width:430px) {
    .footer {
        font-size: 12px;
    }
}