.navbar {
    height: 8vh;
    width: 100vw;
    max-width: 96%;
    padding: 1rem 2rem;
    @include flex-use (row, space-between, center);
    position:fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* Ajoutez une couleur de fond opaque */
    backdrop-filter: blur(10px); 

    &__portfolioName {
        font-size: calc(24px + 1.5vw);  // Utilisation de calc() pour rendre la taille réactive
        font-weight: 900;
        color : black;
    }

    &__desktopMenuListItem {
        margin: calc(0.5rem + 1vw);  // Utilisation de calc() pour rendre la marge réactive
        cursor: pointer;
        font-size: calc(14px + 0.5vw);
        color: black;   // Utilisation de calc() pour rendre la taille de police réactive
    }

    &__desktopMenuListItem:hover {
        color: black;
        padding-bottom: 5px;
        border-bottom: 2px solid black;
        transition: 0.08s ease-in-out ;
    }

    .active {
        
        padding-bottom: 5px;
        border-bottom: 2px solid black;
    }

    .mobHamburger {
        display: none;
        color : black;
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding : 15px;
    }

    // &__desktopMenu {
    //     color : black;
    //     position: absolute;
    //     top :4rem;
    //     right: 2rem;
    // }

    .mobMenu {
       
        position: absolute;
        top :5rem;
        right: 2rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding : 0.5rem;
        height: fit-content;
        min-width: 8rem;
        background: white;
        border-radius: 30px;
    }

    .mobMenuListItem {
        color : black;
        padding : 0.5rem 3rem;
        margin : 0.25rem;
        background: white;
        cursor: pointer;
        //border-radius: 50px;

    }
    .mobActive {
        
        padding-bottom: 5px;
        border-bottom: 2px solid black;
        
    }

   
    @media screen and (max-width: 992px) {
        // Styles spécifiques pour les écrans de taille maximale de 992px
        
        &__portfolioName {
            font-size: 36px;
            
        }

        &__desktopMenuListItem {
            // margin: 1rem;
            // font-size: 18px;
            display: none;
        }

        .navBtn {
            display: none;
        }

        .mobHamburger {
            display: flex;
        }


    }

    @media screen and (max-width:430px) {
        & {
           
            height : 5vh;
        }
        
        &__portfolioName {
            font-size : 26px;
        }
        .mobHamburger {
            width : 20px;
            height : 20px;
            padding-right: 33px;
        }
    }
}
