.hero {
    height: 100vh;
    width: 100%;
    @include flex-use(row, flex-start, stretch);

    flex-wrap: wrap;
    align-content: flex-start;
    background: linear-gradient(to top, rgb(30, 30, 30), rgba(255, 255, 255, 0.9));

    &__Top {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 100%;
        align-self: flex-start;
        order: 0;
        height: 20%;
    }

    &__gap {
        display : flex; 
        justify-content: space-around;
        //margin-top: 150px;
        height : 100%;
    }

    &__Left {
        // width: 100%;
        height: 100%;
        @include flex-use(column, center, flex-start);
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(50% - 2rem);  // Utilisation de calc() pour rendre la largeur réactive
        align-self: auto;
        order: 0;
        padding: 0 2rem;
        
    }

    &__contact {
        
        display: flex;
        align-items: center;
        flex-direction: row;
        gap : 20px;
    }

   

    &__Left button {
        margin : 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 8px;
        z-index: 0;
    }

    &__hello {
        font-size: calc(20px + 1.5vw);  // Utilisation de calc() pour rendre la taille réactive
        font-weight: 400;
        color : rgb(30, 30, 30);
    }

    &__name {
        font-size: calc(3rem + 2vw);  // Utilisation de calc() pour rendre la taille réactive
        font-weight: bolder;
        margin-bottom: 40px;  // Ajustez selon vos besoins
        color : rgb(30, 30, 30);
    }

    &__nameColor {
        color: yellow;
    }

    &__info {
        font-size: calc(4px + 1vw);  // Utilisation de calc() pour rendre la taille réactive
        margin-top: 60px;  // Ajustez selon vos besoins
        margin-bottom: 20px;
        color : rgb(30, 30, 30);
        line-height : 1.5;
    }

    &__Right {
        width: 100%;
        height: 100%;
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(30% - 2rem);  // Utilisation de calc() pour rendre la largeur réactive
        align-self: auto;
        order: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__Img {
        width: 100%;
        max-width: 500px;
        height: auto;  // Permettre à la hauteur de s'ajuster en conséquence
        border: 1px solid white;
        border-radius: 50%;
        background: yellow;
        position: relative;
        overflow: hidden;
        transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:hover {
            transform: perspective(1000px) rotateY(10deg) rotateX(10deg);

            img {
                transform: rotateY(-10deg) rotateX(-10deg);
            }
        }
    }

    &__Logo {
        object-fit: cover;
        overflow: hidden;
    }

    @media screen and (max-width: 992px) {
        // Styles spécifiques pour les écrans de taille maximale de 768px
        &__gap {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            height : 110vh;
        }
        // &__Left,
        // &__Right {
        //     flex-basis: calc(100% - 2rem);  // Utilisation de calc() pour rendre la largeur réactive
        // }
        &__Right {
            width : auto;
        }
        &__Left {
            display : flex;
            align-items: center;
            justify-content:center;
        }

        &__info {
            text-align: center;
            padding : 4rem 7rem;
            margin : 0;
        }

        &__Img {
            width: 100%;
            max-width: 200px;
            height: auto; 
             
        }
    }

    @media screen and (max-width : 1160px) {
        &__name {
            font-size: calc(3rem + 1vw)
        }
    }

    @media screen and (max-width:768px) {
        &__info {
            font-size: 14px;
        }
    }

    @media screen and (max-width : 430px) {
        &__name {
            font-size: calc(2rem + 1vw);
        }
        &__info {
            padding: 3rem 1rem;
            font-size: 12px;
        }
    }
    @media screen and (max-width : 375px) {
        &__hello {
            font-size: calc(15px + 1.5vw);
        }
        &__name {
            font-size: calc(1.5rem + 1vw);
        }
        &__info {
            padding: 3rem 1rem;
            font-size: 11px;
        }
    }
}
