.skills {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 2rem;
    margin : 0 100px;
   // background: linear-gradient(to bottom,rgb(30, 30, 30), rgb(170, 183, 184));
    &__title {
        text-align: center;
        padding-top: 50px;
        text-decoration:overline;
        margin: 0;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.tools {
    height : 45vh;
    &__name {
        text-align: center;
        text-decoration: overline;
        padding-bottom: 20px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin : 0 80px;
        padding : 15px;
        //border : 1px solid black;
        border-radius: 2rem;
        
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

        .tools__item {
            position: relative;

            &:hover .tool-description {
                opacity: 1;
            }

            &:hover .tool-description-git{
                opacity : 1;
            }
        }
    }

    &__img {
        width : 100px;
        height : 100px;
        overflow: hidden;
        object-fit: contain;
        transition: transform 0.3s ease;
        border-radius: 50%;
        background-color: white;
        
        top: 50%;
        left:50%;
    }

    .tool-description {
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -52%);
        font-size: 15px;
        font-weight: 400;
        color: #333;
        background-color: rgba(255, 255, 255, 0.8); /* Fond avec opacité */
        padding: 42px 27px;
        border-radius: 50px;
        opacity: 0; /* Définir l'opacité initiale à 0 */
        transition: opacity 0.3s ease; 
    }

    .tool-description-git {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -52%);
        font-size: 15px;
        font-weight: 400;
        color: #333;
        background-color: rgba(255, 255, 255, 0.8); /* Fond avec opacité */
        padding: 42px 40px;
        border-radius: 50px;
        opacity: 0; /* Définir l'opacité initiale à 0 */
        transition: opacity 0.3s ease;  
    }

    .tools__img:hover {
        //transform: scale(1.1);
        opacity: 1; 
    }
}

@media screen and (max-width:992px) {
    .skills {
        &__title {
            font-size : 24px;
        }
        &__logo {
            display:flex;
            flex-direction: column;
        }
    }
    
}

@media screen and (max-width:880px) {
    .skills {
        margin-top : 40px;
        // &__title {
        //     font-size: 24px;
        // }
        &__logo {
            display : flex;
            flex-direction: column;
        }
    }

    .tools {
        &__name {
            font-size: 18px;
        }
        &__container {
            margin: 30px 50px 0;
            flex-wrap: wrap;
        }
    }
}

@media  screen and (max-width:768px) {
    .skills {
        margin : 0;
        border-radius: 0;
        margin-top: 40px;
    }
    .tools {
        height : 27vh;
        &__img {
            width : 75px;
            height : 75px;
        }

        .tool-description-git {
            top :32%;
            padding : 30px 28px;
            font-size: 14px;
        }

        .tool-description {
            top : 31%;
            padding: 30px 15px;
            font-size: 14px;
        }
    }
}

@media screen and (max-width:430px) {
    .skills {
        margin : 0;
        margin-top: 40px;
        &__title {
            font-size: 17px;
        }
    }

    .tools {
        &__img {
            width : 65px;
            height : 65px;
        }

        &__container {
            margin: 30px 20px 0;
            flex-wrap: wrap;
        }

        .tool-description-git {
            top :31%;
            padding : 26px 24px;
            font-size: 12px;
        }

        .tool-description {
            top : 32%;
            padding: 26px 13px;
            font-size: 12px;
        }
    }
}
    

